*
{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: clip;
}
html
{
    scroll-behavior: smooth;
}

.content
 {
    min-height: calc(100vh - 123px - 364px);
    padding: 1.5rem 0;
}